---
import CourseCard from './CourseCard.astro';
import type { Course } from '../../types/course';

interface Props {
  courses: Course[];
}

const { courses } = Astro.props;
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
  {courses.map(course => (
    <CourseCard course={course} />
  ))}
</div>